  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Fournis<span>Net</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
	          <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
	          <li class="nav-item active"><a href="car.html" class="nav-link">Pieces</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/carbook/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span>
          <span>Piece details <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-3 bread">Piece Details</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-part-details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="part-details">
          <div class="img rounded" style="background-image: url(assets/carbook/images/part_1.jpg);"></div>
          <div class="text text-center">
            <span class="subheading">Brand: Valeo</span>
            <h2>Brake Disc Front Left</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md d-flex align-self-stretch ">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-settings"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Reference
                  <span>BD1234L</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pricetag"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Price
                  <span>80 TND</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-truck"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Availability
                  <span>In Stock</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-delivery-truck"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Delivery
                  <span>Free over 200 TND</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
          <div class="d-flex justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-features-tab" data-toggle="pill" href="#pills-features" role="tab" aria-controls="pills-features" aria-expanded="true">Specifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="false">Review</a>
              </li>
            </ul>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab">
              <div class="row">
                <div class="col-md-6">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Diameter: 280 mm</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Thickness: 22 mm</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Material: Cast Iron</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Fits models: Clio III, Mégane II</li>
                    <li class="remove"><span class="ion-ios-close"></span>Not for 4×4 variants</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>OEM-equivalent</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
              <p>High-quality front brake disc compatible with select Renault models. Precision machined for optimal performance and longevity.</p>
              <p>Designed to meet OEM standards while offering improved heat dispersion and resistance to warping over time.</p>
            </div>
            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="head">12 Reviews</h3>
                  <div class="review d-flex">
                    <div class="user-img" style="background-image: url(assets/carbook/images/user1.jpeg)"></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Ali Mourad</span>
                        <span class="text-right">22 July 2025</span>
                      </h4>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i><i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i><i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                        </span>
                      </p>
                      <p>Très bonne qualité, montage simple, rien à dire.</p>
                    </div>
                  </div>
                  <div class="review d-flex">
                    <div class="user-img" style="background-image: url(assets/carbook/images/user2.jpeg)"></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Selma Trabelsi</span>
                        <span class="text-right">10 June 2025</span>
                      </h4>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i><i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i><i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                        </span>
                      </p>
                      <p>Conforme aux spécifications, livraison rapide.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="rating-wrap">
                    <h3 class="head">Rating Summary</h3>
                    <div class="wrap">
                      <p class="star"><span>(5 stars) 10 Reviews</span></p>
                      <p class="star"><span>(4 stars) 2 Reviews</span></p>
                      <p class="star"><span>(3 stars) 0 Reviews</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end tabs -->
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading">Other Parts</span>
        <h2 class="mb-2">Related Parts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="part-wrap rounded">
          <div class="img rounded d-flex align-items-end" style="background-image: url(assets/carbook/images/part-2.jpg);"></div>
          <div class="text">
            <h2 class="mb-0"><a href="#">Brake Pads Set</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Bosch</span>
              <p class="price ml-auto">35 TND</p>
            </div>
            <p class="d-flex mb-0 d-block">
              <a href="#" class="btn btn-primary py-2 mr-1">Add to Cart</a>
              <a href="#" class="btn btn-secondary py-2 ml-1">Details</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="part-wrap rounded">
          <div class="img rounded d-flex align-items-end" style="background-image: url(assets/parts/images/part-3.jpg);"></div>
          <div class="text">
            <h2 class="mb-0"><a href="#">Oil Filter</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Mahle</span>
              <p class="price ml-auto">18 TND</p>
            </div>
            <p class="d-flex mb-0 d-block">
              <a href="#" class="btn btn-primary py-2 mr-1">Add to Cart</a>
              <a href="#" class="btn btn-secondary py-2 ml-1">Details</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="part-wrap rounded">
          <div class="img rounded d-flex align-items-end" style="background-image: url(assets/parts/images/part-4.jpg);"></div>
          <div class="text">
            <h2 class="mb-0"><a href="#">Air Filter</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Denso</span>
              <p class="price ml-auto">25 TND</p>
            </div>
            <p class="d-flex mb-0 d-block">
              <a href="#" class="btn btn-primary py-2 mr-1">Add to Cart</a>
              <a href="#" class="btn btn-secondary py-2 ml-1">Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="#" class="logo">Fournis<span>book</span></a></h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

  </body>

